[Desktop Entry]
Type=Application
Name=pcble2gamepad Controller Studio
Comment=Use a keyboard or PC gamepad as a console controller
Exec=pcble2gamepad
Icon=input-gaming
Terminal=false
Categories=Utility;GTK;
